:root {
    --primary-color: #7cb3ac;
    --secondary-color: #8e6c88;
    --tertiary-color: #f4d35e;
    --fourth-color: #e4c1f9;
    --fifth-color: #f78764;
    --light-gray: #e9e9e9;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--light-gray);
}
/* Utility Classes Start */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.img-title {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
.work-img {
    width: 500px;
    height: 275px;
    background-size: cover;
}
.work-img:hover {
    opacity: 0.5;
}
/* Utility Classes End */
/* Header Styles Start */
header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header h1 {
    flex: 1 33%;
    padding-left: 25px;
    font-size: 48px;
}
header nav {
    flex: 2 60%;
}
header nav ul  {
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    font-size: 38px;
    color: var(--primary-color);
}
/* Header Styles end */
/* Hero Styles Start */
.hero {
    background-color: var(--light-gray);
    padding: 15px 5px 15px 5px;
}
.hero .flex-container {
    justify-content: space-between;
}
.hero .flex-container img {
    border-radius: 50%;
    padding-left: 15px;
    flex: 1;
}
.hero-content {
    flex: 2;
}
.hero-content h2 {
    color: var(--tertiary-color);
    font-size: 38px;
    border-bottom: 2px solid var(--secondary-color);
}
.hero-content p {
    margin-top: 50px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    color: var(--primary-color);
}
/* Hero Styles End */
/* About Me Styles Start */
#about article {
    background-color: var(--primary-color);
}
#about article h2 {
    text-align: center;
    color: var(--secondary-color);
}
#about article p {
    text-align: justify;
    padding: 15px 30px;
    color: var(--secondary-color);
}
/* About Me Styles End */
/* My Work Styles Start */
#work {
    background-color: var(--light-gray);
    padding: 15px;
}
#work h2 {
    font-size: 38px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;    
}
.work-samples a {
    margin: 15px auto;
}
.work-samples div {
    margin: 15px auto;
}
.run-buddy {
    width: 615px;
    height: 320px;
    background-image: url(../images/run-buddy-sm.png);
    background-size: cover;
}
.run-buddy:hover {
    opacity: 0.5;
}
.uber-clone {
    background-image: url(../images/uber.png);
}
.tinder-clone {
    background-image: url(../images/tinder.png);
}
.calculator {
    background-image: url(../images/calculator.png);
}
.password-generator {
    background-image: url(../images/password.png);
}
/* My Work Styles End */
/* Contact Styles Start */
#contact {
    background-color: var(--light-gray);
}
.contact-top {
    text-align: center;
}
.contact-top h2 {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--secondary-color);
    font-size: 38px;
    margin: 20px 150px;
}
.contact-top p {
    color: var(--primary-color);
    font-size: 14px;
    margin: 15px;
}
.contact-form {
    margin: 15px 100px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 24px;
}
.contact-form form {
    justify-content: center;
}
.input-handler {
    flex: 1 100%;
    justify-content: space-evenly;
}
.form-input {
    background-color: var(--light-gray);
    border-radius: 10px;
}
.submit-button {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);

}
/* Contact Styles End */
/* Footer Styles Start */
footer {
    background-color: var(--light-gray);
    text-align: center;
}
footer p {
    color: var(--primary-color);
}
footer p a {
    color: var(--secondary-color);
    text-decoration: none;
}
footer p a:hover {
    font-style: italic;
    font-size: 1.2em;
}
footer p a:active {
    color: var(--tertiary-color);
    font-style: normal
}
/* Footer Styles End */

/* Media Query for Tablets and bigger */
@media screen and (min-width: 575px) {
    .work-samples{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .work-lg {
        flex: 100%;
    }
    .work-sm {
        flex: 1 50%;
    }
    .work-img {
        width: 400px;
    }
}
/* To Do: 
   Find common breakpoints
   Make site respond to desktop changes
   Find more stuff to fix */